.row{
    padding: 20px;
    }
    div{
        background-color: #e9809f;
        text-align: center;
    }
    /*estilo de la foto de perfil*/
    @media(min-width:576px){
        #fotodeperfil{
            position: absolute;
            width: 17%;
            border-radius: 15%;
            box-shadow: 12px 12px 10px #4e2445;
            left: 1%;
            top: 425px;
        }
    }
    @media(max-width:575px){
        #fotodeperfil{
            position: absolute;
            width: 25%;
            border-radius: 15%;
            box-shadow: 3px 3px 3px #aa739f;
            left: 37%;
            top: 465px;
        }
    }
    /*etiqueta nombre*/
    #nombre{
        font-weight: bold;
        margin-top: 20px;
    }
    