<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo1</h2>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iusto quis voluptate sunt laudantium,
                corporis dolorem, vitae incidunt cumque, reprehenderit laboriosam perspiciatis. Repellendus excepturi
                sequi quasi omnis necessitatibus expedita quia!</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo2</h2>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo iusto quis voluptate sunt laudantium,
                corporis dolorem, vitae incidunt cumque, reprehenderit laboriosam perspiciatis. Repellendus excepturi
                sequi quasi omnis necessitatibus expedita quia!</p>
        </ul>
    </div>
</div>

