.gradient-custom {
    /* fallback for old browsers */
    background: #6d35a5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #e9809f, rgba(106, 17, 203, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #e9809f, rgba(106, 17, 203, 1))
    }