<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAP.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/samymonetta"><img src="../../../assets/logoFB.png" id="Facebook"></a>
                <a href="https://www.linkedin.com/in/samantha-amira-monetta-986070213/"><img src="../../../assets/logoIN.png" id="Linkedin"></a>
                <a href="https://twitter.com/SamyMonetta"><img src="../../../assets/logoTW.png" id="Twitter"></a>
                <button type="button" class="btn btn-primary">Ingreso</button>
            </div>
        </div>
    </div>
</div>

